@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    Tommy Johansson<br />
</address>

<address>
    <a href="mailto:sm3osm@gmail.com">sm3osm@gmail.com</a><br />
</address>
